<!DOCTYPE html>
<html lang="en">

<head>
    {{>header}}
</head>

<body>
    <div class="scrollToTop-btn">
        <i class="fas fa-angle-up"></i>
    </div>
    {{>navbar}}
    <section class="main" id="main">
        <div class="content">
            <h2>Hello, I'm<br><span>Annas Mir</span></h2>
            <div class="animated-text">
                <h3>Web Developer</h3>
                <h3>Web Developer</h3>

                <h3>Web Developer</h3>

            </div>
            <br>
            <br>
            <br>
            <br>
            <div class="contact" id="contact-me">
                <div class="container">
                    <div class="contact-content">
                        <h3>Contact Me</h3>
                        <p class="mail">
                            Email at <i class="fas fa-arrow-right"></i> <strong>annasmir290@gmail.com</strong>
                            <br>
                        </p>
                        <br>
                        <p class="links">Or find me on:
                            <button> <a href="https://www.linkedin.com/in/annas-mir-842817266/" target="blank"><i
                                        class="fab fa-linkedin">
                                       </i> Linkdin</a></button>
                            &nbsp;&nbsp;&nbsp;
                            <button> <a href="https://github.com/annasmir2" target="blank"><i class="fab fa-github"></i>
                                    Github</a></button>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        </div>
    </section>

    <section class="about" id="about">
        <div class="title reveal">
            <h2 class="section-title">About Me</h2>
        </div>
        <div class="content">
            <div class="column col-left reveal">
                <div class="img-card">
                    <img src="images/dp.jpeg" alt="Annas">
                </div>
            </div>
            <div class="column col-right reveal">
                <h2 class="content-title">👋 Hey There! I'm Annas Mir</h2>
                <p class="paragraph-text">I'm a 20-year-old web developer studying at Numl University. 💻
                    Proficient in HTML, CSS, and React, I craft dynamic interfaces. 🛠️ On the backend, I work with
                    Node.js, Express.js, and MongoDB to build robust systems and RESTful APIs. Let's code and innovate!
                    💪✨</p>
            </div>
        </div>
    </section>

    <section class="skills" id="skills">
        <div class="title reveal">
            <h2 class="section-title">🚀 Skills & Experience:</h2>
        </div>
        <div class="content">
            <div class="column col-left reveal">
                <h2 class="content-title">🚀My Skills and Experiences</h2>
                <p>-🎨 Frontend: Proficient in HTML, CSS, JavaScript (incl. React), crafting captivating user interfaces
                    and responsive designs.<br>

                    - ⚙️ Backend: Experienced in Node.js and Express.js, building robust backend systems and RESTful
                    APIs.
                    <br>
                    - 📊 Database: Skilled in MongoDB, ensuring efficient data storage and retrieval.
                    <br>
                    - 💼 Professional Experience: Currently at JATAQ Technologies, developing cutting-edge projects.
                    <br>
                    - 🚀 Project Portfolio: Delivered projects using HTML, CSS, JS, React, Node.js, Express.js, and
                    MongoDB. Notable achievements include custom APIs and client-side apps.
                    <br>
                    - 📚 Committed to staying updated with the latest technologies and trends.
                </p>
                <!-- <a href="#" class="btn">See More</a> -->
            </div>
            <div class="column col-right reveal">
                <div class="bar">
                    <div class="info">
                        <span>HTML</span>
                    </div>
                    <div class="line html"></div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>CSS</span>
                    </div>
                    <div class="line css"></div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>Javascript</span>
                    </div>
                    <div class="line javascript"></div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>React</span>
                    </div>
                    <div class="line jquery"></div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>Nodejs</span>
                    </div>
                    <div class="line nodejs"></div>
                </div>
                <div class="bar">
                    <div class="info">
                        <span>MongoDB</span>
                    </div>
                    <div class="line mongodb"></div>
                </div>
            </div>
        </div>
    </section>

    <section class="services" id="services">
        <div class="title reveal">
            <h2 class="section-title">My Services</h2>
            <p>Welcome to my portfolio! With proficiency in frontend technologies such as HTML, CSS, and JavaScript,
                including frameworks like React, I specialize in crafting captivating user interfaces and responsive
                designs. On the backend, my experience extends to Node.js and Express.js, where I build robust systems
                and RESTful APIs. Leveraging MongoDB, I ensure efficient data storage and retrieval for seamless user
                experiences. My project portfolio boasts a diverse range of projects utilizing a stack comprising HTML,
                CSS, JavaScript, React, Node.js, Express.js, and MongoDB, with notable achievements including the
                creation of custom APIs and client-side applications. Committed to continuous learning, I stay updated
                with the latest technologies and trends, ensuring the delivery of top-notch solutions that meet and
                exceed client expectations.</p>
        </div>
        <div class="content">
            <div class="card reveal">
                <div class="service-icon">
                    <i class="fas fa-palette"></i>
                </div>
                <div class="info">
                    <h3>Web Design</h3>
                    <p>
                        Elevate your online presence with captivating frontend web designs. Specializing in HTML, CSS,
                        JavaScript (including React), I create visually stunning interfaces that engage and inspire.
                        Let's bring your vision to life with cutting-edge design and technology. </p>
                </div>
            </div>
            <div class="card reveal">
                <div class="service-icon">
                    <i class="fas fa-file-code"></i>
                </div>
                <div class="info">
                    <h3>Web Development</h3>
                    <p>Proficient in frontend technologies like HTML, CSS, JavaScript (including React), I craft
                        captivating user interfaces. Experienced in backend technologies such as Node.js and Express.js,
                        I ensure robust backend systems and efficient data management. Let's turn your ideas into
                        reality with top-notch expertise.</p>
                </div>
            </div>
        </div>
    </section>

    <section class="work" id="work">
        <div class="title reveal">
            <h2 class="section-title">My Work</h2>
        </div>
        <div class="content">
            <a href="https://github.com/annasmir2" target="_blank" class="link-button">
                <button>Github <i class="fas fa-external-link-alt"></i></button>
            </a>
            &nbsp;&nbsp;&nbsp;
            <a href="https://www.linkedin.com/in/annas-mir-842817266/" target="_blank" class="link-button">
                <button>Linkedin <i class="fas fa-external-link-alt"></i></button>
            </a>
        </div>

    </section>
    <section class="contactme" id="contact">
        <div class="title">
            <h2 class="section-title">Contact Me</h2>
        </div>
        <div class="contactform">
            <div class="contact-form">
                <h3>Contact Form</h3>
                <form id="contact-form" action="/" method="POST">
                    <input type="text" name="name" placeholder="Your Name" required>
                    <input type="email" name="email" placeholder="Your Email" required>
                    <textarea name="message" placeholder="Your Message" required></textarea>
                    <button type="submit">Send</button>
                </form>
            </div>
    </section>
    <section class="contact" id="contact">
        <div class="content">
            <div class="row">
                <div class="card reveal">
                    <div class="contact-icon">
                        <i class="fas fa-map-marker-alt"></i>
                    </div>
                    <div class="info">
                        <h3>Address</h3>
                        <span>Islamabad,Pakistan</span>
                    </div>
                </div>
                <div class="card reveal">
                    <div class="contact-icon">
                        <i class="fas fa-phone"></i>
                    </div>
                    <div class="info">
                        <h3>Phone</h3>
                        <span>+92 323 520 9090</span>
                    </div>
                </div>
                <div class="card reveal">
                    <div class="contact-icon">
                        <i class="fas fa-envelope"></i>
                    </div>
                    <div class="info">
                        <h3>Email Address</h3>
                        <span>annasmir290@gmail.com</span>
                    </div>
                </div>
                <div class="card reveal">
                    <div class="contact-icon">
                        <i class="fas fa-globe"></i>
                    </div>
                    <div class="info">
                        <h3>Website</h3>
                        <span><a href="https://annasmir2.github.io/Portfolio/"
                                target="_blank"><strong>MyPortfolio</strong></a></span>
                    </div>
                </div>
            </div>
        </div>
    </section>

    {{>footer}}
    <script src="Js/script.js" charset="utf-8"></script>

</body>

</html>